
*.xcuserstate
SwiftStudy/SwiftStudy.xcodeproj/xcuserdata/gao.xcuserdatad/xcschemes/xcschememanagement.plist
SwiftStudy/SwiftStudy.xcodeproj/project.xcworkspace/xcuserdata/gao.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
